/* Задний фон */
#bg {
  height: auto;
  width: 100vw;
  background-color: var(--background-color);
  animation: bg-gradient-animation 5s infinite alternate;
  display: flex;
  justify-content: center;
  justify-content: center;
}

/* Стиль текста */
.text-changers-style {
  flex-direction: column;
}

.text-changers-style p {
  font-size: 70px;
  color: var(--ui-primary-button);
  -webkit-text-stroke: 1px black;
  display: flex;
  gap: 4px;
  text-align: center;
  background-color: var(--ui-primary-panel);
  border-radius: 20px;
  justify-content: center;
}
.text-changers-style h2 {
  font-size: 40px;
  color: var(--ui-primary-button);
  -webkit-text-stroke: 1px black;
  gap: 4px;
  text-align: center;
  background-color: var(--ui-primary-panel);
  border-radius: 10px;
  justify-content: center;
}
/* Кнопки */
.btn-back {
  margin: auto;
  background-color: var(--ui-primary-button);
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  display: flex;
}
.btn-back:hover {
  animation: btn-animation 300ms infinite alternate;
}
/* Анимации */
@keyframes bg-gradient-animation {
  from {
    background-color: var(--background-animation-from);
  }
  50% {
    background-color: var(--background-animation-50);
  }
  to {
    background-color: var(--background-animation-to);
  }
}

@keyframes btn-animation {
  from {
    background-color: var(--btn-animation-from);
  }
  to {
    background-color: var(--btn-animation-to);
  }
}

/* Глобальный стиль */
body {
  padding: 0;
  margin: 0;
  user-select: none;
}
a {
  text-decoration: none;
  color: black;
}
