/* elements style */
.bg {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  animation: bg-gradient-animation 5s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-panel {
  height: 300px;
  width: 450px;
  background-color: var(--ui-primary-panel);
  border-radius: 20px;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-select {
  background-color: var(--ui-primary-button);
  height: 60px;
  width: 130px;
  border-radius: 20px;
  font-size: var(--fonts-size);
  -webkit-text-stroke: 1px black;
  text-align: center;
  margin-bottom: 50%;
}
#theme-select:hover {
  animation: btn-animation 300ms infinite alternate;
  cursor: pointer;
}
#fonts-select {
  background-color: var(--ui-primary-button);
  height: 60px;
  width: 130px;
  border-radius: 20px;
  font-size: var(--fonts-size);
  -webkit-text-stroke: 1px black;
  text-align: center;
  margin-bottom: 50%;
}
#fonts-select:hover {
  animation: btn-animation 300ms infinite alternate;
  cursor: pointer;
}
#setting-button-back {
  background-color: var(--ui-primary-button);
  height: 60px;
  width: 130px;
  border-radius: 20px;
  font-size: var(--fonts-size);
  -webkit-text-stroke: 1px black;
  text-align: center;
  margin-right: 50%;
}
#setting-button-back:hover {
  animation: btn-animation 300ms infinite alternate;
  cursor: pointer;
}
.button-panel {
  position: absolute;
}
/* animation */
@keyframes bg-gradient-animation {
  from {
    background-color: var(--background-animation-from);
  }
  50% {
    background-color: var(--background-animation-50);
  }
  to {
    background-color: var(--background-animation-from);
  }
}
@keyframes btn-animation {
  from {
    background-color: var(--btn-animation-from);
    margin-bottom: 1px;
  }
  to {
    background-color: var(--btn-animation-to);
    margin-bottom: 8px;
  }
}
/* Global style */
body {
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
}
